.idea/
main/__pycache__/
main/common/dto/__pycache__/
main/courseGen/use_case/__pycache__/
main/courseGen/exposition/__pycache__/
main/courseGen/model/__pycache__/
main/courseGen/model/exceptions/__pycache__/
main/infra/__pycache__/dbUtils.cpython-35.pyc